<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>자유게시판</title>
    <%- include("./include/include", { title: "자유게시판" }) %>
    <link rel="stylesheet" href="/static/css/board.css" />
  </head>
  <body>
    <div class="header"><%- include("./include/header") %></div>
    <br /><br />
    <br /><br />
    <br /><br />
    <div class="board-list">
      <h1>자유게시판</h1>
      <table>
        <thead>
          <tr>
            <th>분류</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>제목</th>
          </tr>
        </thead>
        <tbody>
          <% if (boardList && boardList.length > 0) { %> <%
          boardList.forEach(function (item) { %>
          <tr>
            <td><%= item.boardCategory ? item.boardCategory : "전체" %></td>
            <td>
              <%= item.boardDate ? item.boardDate.toLocaleString() : "" %>
            </td>
            <td><%= item.userId ? item.userId : "" %></td>
            <td>
              <a href="/board/view/<%= item.boardId %>">
                <%= item.boardTitle %>
              </a>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="4">게시글이 없습니다.</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% if (isLogin) { %>
    <div class="write-btn">
      <a href="/board/write" class="btn-red">글 작성</a>
    </div>
    <% } else { %>
    <div class="write-btn">
      <p>
        글을 작성하려면
        <a href="/login" class="btn-red">로그인</a>
        하세요.
      </p>
    </div>
    <% } %>
    <script src="/static/js/board.js"></script>
    <%- include("./include/footer") %>
  </body>
</html>
